<%= provide(:title, "Home") %>

	<div class = "new">
		<h1 class = "title"><%= link_to "New List", new_path %></h1>
	</div>

	<div class = "lists">
		<h1 class = "title"><%= link_to "List of lists", index_path %></h1>
	</div>	
		


