/********************
	UNIVERSAL
********************/

* {
	text-decoration: none;
	color: black;
	
}

.wrapper {
	height: 1200px;
	background-color: #51d0ff;
	padding: 6%;
}

// .content {
// 	max-width: 95%;
// 	max-height: 95%;
// 	margin: 0 auto;
// 	background-color: blue;
// }

/********************
	HOME
********************/

// .buttons-wrapper {
// 	margin: 0 auto;
// 	background-color: blue;
// 	height: 100%;
// }

.new {
	// margin: 5% auto;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00bd93;
	width: 35%;
	height: 200px;
	border: 1px solid black;
}

.lists {
	// margin: 5% auto;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00bd93;
	width: 35%;
	height: 200px;
	border: 1px solid black;
}

.title {
	text-align: center;
	font-family: Helvetica;
	margin: 0 auto;
	line-height: 4em;
	font-size: 3em;
}






