@import "bootstrap-sprockets"; 
@import "bootstrap";

/********************
	UNIVERSAL
********************/

* {
	text-decoration: none;
	color: black;
	list-style-type: none;
}

body {
	background-color: #51d0ff;
	padding: 1%;
}

/********************
	HOME
********************/

.new {
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	background-color: #00bd93;
	width: 35%;
	height: 200px;
	border: 1px solid black;
}

.lists {
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00bd93;
	width: 35%;
	height: 200px;
	border: 1px solid black;
}

.title {
	text-align: center;
	font-family: Helvetica;
	margin: 0 auto;
	line-height: 4em;
	font-size: 3em;
}

/********************
	INDEX
********************/

.index-wrapper {
	background-color: white;
	min-width: 100%;
	min-height: 100%;
	font-family: Helvetica;
	padding: 1.5%;
	border-radius: 2%;
}

.index-title {
	text-align: center;
	text-transform: uppercase;
}

.index-content {
	margin: 0 auto;
	
}

.index-new-link {
	text-align: center;
	border: 1px solid black;
	width: 9%;
	height: 10%;
	padding: .6% .3%;
	margin: 0 auto;
}

.index-of-lists {
	margin-left: auto;
	margin-right: auto;
}

/********************
	_TODO_LIST
********************/

.todo-list-title {
	font-weight: bold;
	color: black; 
	font-size: 1.6em;
}

.todo-list-edit {

}

/********************
	NEW
********************/

.new-title {
	text-align: center;
}

/********************
	EDIT
********************/

.edit-title {
	text-align: center;
}


















